*.pem
*.key
.env
.env.*

__pycache__/
*.pyc
venv/
.DS_Store

# Kotlin/Gradle
**/.gradle/
build/

# Android Studio
.idea/
*.iml

# Build output
app/build/
*/build/

# Kotlin specific
*.class
*.jar
*.dex

# Other temporary/intermediate files
local.properties